<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta http-equiv="refresh" content="15">
</head>

<body>
    <h1>Water:{{.water}}</h1>
    <h1>Wind:{{.wind}}</h1>
    <h1>Status:{{.status}}</h1>
</body>

</html>